@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    background-image: url("https://i.pinimg.com/originals/62/63/5b/62635bfd6f5c20e3666f27e015191bde.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.center-div{
    padding-top: 10%;
}

.btn.btn-success{
    padding: .4em 2em;
    background-color: rgb(5, 46, 97);
    border-color: #3C4A57;
}
.btn.btn-success:hover{
    background-color:rgb(5, 151, 115) ;
}
form{
    padding: 0 3em;
}

#login .title > span{
    font-size: .8em;
}


